<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TerraViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="TerraViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<TerraViewer.Properties.Settings>
   <setting name="ConstellationBoundryColor" serializeAs="String">
    <value>MidnightBlue</value>
   </setting>
   <setting name="ConstellationFigureColor" serializeAs="String">
    <value>DarkRed</value>
   </setting>
   <setting name="ConstellationSelectionColor" serializeAs="String">
    <value>DarkGoldenrod</value>
   </setting>
   <setting name="ShowConstellationBoundries" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowConstellationFigures" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowConstellationSelection" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowClouds" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ZoomSpeed" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ShowElevationModel" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowOceanFloor" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TelescopeID" serializeAs="String">
    <value />
   </setting>
   <setting name="ShowCrosshairs" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowDatasetNames" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FovTelescope" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="FovCamera" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ShowFieldOfView" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CahceDirectory" serializeAs="String">
    <value />
   </setting>
   <setting name="ContextSearchFilter" serializeAs="String">
    <value>Unfiltered</value>
   </setting>
   <setting name="ShowEcliptic" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FovColor" serializeAs="String">
    <value>White</value>
   </setting>
   <setting name="LocationName" serializeAs="String">
    <value>Microsoft Research Building 99</value>
   </setting>
   <setting name="LocationLat" serializeAs="String">
    <value>47.64222</value>
   </setting>
   <setting name="LocationLng" serializeAs="String">
    <value>-122.142</value>
   </setting>
   <setting name="UserEmail" serializeAs="String">
    <value />
   </setting>
   <setting name="UserKey" serializeAs="String">
    <value />
   </setting>
   <setting name="ShowHorizon" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FullScreenGamma" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ConstellationFiguresFile" serializeAs="String">
    <value>Default Figures</value>
   </setting>
   <setting name="LocationAltitude" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="FovEyepiece" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="EclipticColor" serializeAs="String">
    <value>CornflowerBlue</value>
   </setting>
   <setting name="GridColor" serializeAs="String">
    <value>64, 64, 64</value>
   </setting>
   <setting name="LocalHorizonMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ActualPlanetScale" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowSolarSystem" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="HighPercitionPlanets" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowHorizonPanorama" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SmoothPan" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowUTCTime" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowMoonsAsPointSource" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PulseMeForUpdate" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowSafeArea" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UserRatingGUID" serializeAs="String">
    <value>00000000-0000-0000-0000-000000000000</value>
   </setting>
   <setting name="ImageQuality" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="FollowMouseOnZoom" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoHideContext" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoHideTabs" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowLinksInFullBrowser" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="TranparentWindows" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CheckedForFlashingVideo" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoRepeatTour" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoRepeatTourAll" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowNavHelp" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UpgradeNeeded" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ProxyServer" serializeAs="String">
    <value />
   </setting>
   <setting name="ProxyPort" serializeAs="String">
    <value>80</value>
   </setting>
   <setting name="UseJoystick" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowJoystickHelp" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LanguageCode" serializeAs="String">
    <value>en</value>
   </setting>
   <setting name="LineSmoothing" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LanguageUrl" serializeAs="String">
    <value>http://www.worldwidetelescope.org/wwtweb/catalog.aspx?Q=lang_en</value>
   </setting>
   <setting name="ExploreRootUrl" serializeAs="String">
    <value>http://www.worldwidetelescope.org/wwtweb/catalog.aspx?W=ExploreRoot</value>
   </setting>
   <setting name="ImageSetUrl" serializeAs="String">
    <value>http://www.worldwidetelescope.org/wwtweb/catalog.aspx?X=ImageSets5</value>
   </setting>
   <setting name="LanguageName" serializeAs="String">
    <value>US English</value>
   </setting>
   <setting name="SolarSystemLighting" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SolarSystemOverlays" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SolarSystemOrbits" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SolarSystemStars" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SolarSystemMilkyWay" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SolarSystemCosmos" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SolarSystemScale" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="SolarSystemOrbitColor" serializeAs="String">
    <value>64, 64, 64</value>
   </setting>
   <setting name="SolarSystemMultiRes" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DomeTilt" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="DomeView" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ListenMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MasterController" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="VOTableVerbosityDefault" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="StartUpLookAt" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="LastLookAtMode" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="UsePlanetColorsForOrbits" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LargeDomeTextures" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LiveIdUser" serializeAs="String">
    <value />
   </setting>
   <setting name="LiveIdToken" serializeAs="String">
    <value />
   </setting>
   <setting name="LiveIdWWTId" serializeAs="String">
    <value />
   </setting>
   <setting name="FBApplicationId" serializeAs="String">
    <value>217041268855</value>
   </setting>
   <setting name="FBApiKey" serializeAs="String">
    <value>55d5ef1761749fc8b46aca991fd3bb09</value>
   </setting>
   <setting name="FBApiSecret" serializeAs="String">
    <value />
   </setting>
   <setting name="FBUserId" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="FBUserKey" serializeAs="String">
    <value />
   </setting>
   <setting name="FBUserSecret" serializeAs="String">
    <value />
   </setting>
   <setting name="AdvancedCommunities" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CustomWarpFilename" serializeAs="String">
    <value />
   </setting>
   <setting name="DomeTypeIndex" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SharedCacheServer" serializeAs="String">
    <value />
   </setting>
   <setting name="SolarSystemMinorPlanets" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SolarSystemPlanets" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FullScreenTours" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LastDomeConfigFile" serializeAs="String">
    <value />
   </setting>
   <setting name="LastVideoOutFormat" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="VideoOutputPath" serializeAs="String">
    <value />
   </setting>
   <setting name="ShowTouchControls" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SolarSystemMinorOrbits" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AllowLocalHTTP" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="HTTPWhiteList" serializeAs="String">
    <value />
   </setting>
   <setting name="AllowAllRemoteHTTP" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ScreenOverlayAlt" serializeAs="String">
    <value>45</value>
   </setting>
   <setting name="ScreenOverlayAz" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ScreenOverlayScale" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="ShowLayerManager" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MonochromeImageStyle" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FlatScreenWarp" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FullScreenX" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="FullScreenY" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="FullScreenWidth" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="FullScreenHeight" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="CloudCommunityUrlNew" serializeAs="String">
    <value>http://www.worldwidetelescope.org</value>
   </setting>
   <setting name="OverlaySettings" serializeAs="String">
    <value />
   </setting>
   <setting name="ShowEquatorialGridText" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowGalacticGrid" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowGalacticGridText" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowEclipticGrid" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowEclipticGridText" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowAltAzGrid" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowAltAzGridText" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowPrecessionChart" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowConstellationPictures" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ConstellationsEnabled" serializeAs="String">
    <value />
   </setting>
   <setting name="EquatorialGridTextColor" serializeAs="String">
    <value>White</value>
   </setting>
   <setting name="GalacticGridColor" serializeAs="String">
    <value>DeepSkyBlue</value>
   </setting>
   <setting name="GalacticGridTextColor" serializeAs="String">
    <value>DeepSkyBlue</value>
   </setting>
   <setting name="AltAzGridColor" serializeAs="String">
    <value>Green</value>
   </setting>
   <setting name="AltAzGridTextColor" serializeAs="String">
    <value>Green</value>
   </setting>
   <setting name="EclipticGridColor" serializeAs="String">
    <value>CornflowerBlue</value>
   </setting>
   <setting name="EclipticGridTextColor" serializeAs="String">
    <value>CornflowerBlue</value>
   </setting>
   <setting name="PrecessionChartColor" serializeAs="String">
    <value>255, 128, 0</value>
   </setting>
   <setting name="ConstellationnamesColor" serializeAs="String">
    <value>255, 128, 0</value>
   </setting>
   <setting name="EclipticOverviewTextColor" serializeAs="String">
    <value>CornflowerBlue</value>
   </setting>
   <setting name="ShowConstellationLabels" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FadeColor" serializeAs="String">
    <value>Black</value>
   </setting>
   <setting name="FadeRemoteOnly" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ColSettingsVersion" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ShowSkyNode" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowSkyOverlays" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowSkyGrids" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Constellations" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MultiSampling" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="ShowConstellationNames" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowGrid" serializeAs="String">
    <value>False,0,2000</value>
   </setting>
   <setting name="ShowEarthSky" serializeAs="String">
    <value>True,0,2000</value>
   </setting>
   <setting name="ShowEclipticOverviewText" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowSkyOverlaysIn3d" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MidiEditWindowHeight" serializeAs="String">
    <value>636</value>
   </setting>
   <setting name="MidiEditClientSize" serializeAs="String">
    <value>784, 598</value>
   </setting>
   <setting name="MidiWindowLocation" serializeAs="String">
    <value>100, 140</value>
   </setting>
   <setting name="ClientNodeListLocation" serializeAs="String">
    <value>200, 200</value>
   </setting>
   <setting name="ClientNodeListSize" serializeAs="String">
    <value>190, 580</value>
   </setting>
   <setting name="ShowClientNodeDetails" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CloudMap8k" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ScreenOverlayShowLocal" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoSyncTours" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowReticle" serializeAs="String">
    <value>False,0,2000</value>
   </setting>
   <setting name="ReticleAlt" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ReticleAz" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="EarthCutawayView" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FrameSync" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TargetFrameRate" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="ShowClientNodeList" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MasterHostIPOverride" serializeAs="String">
    <value />
   </setting>
   <setting name="DomeAngle" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="TileThrottling" serializeAs="String">
    <value>15</value>
   </setting>
   <setting name="ConstellationArtFile" serializeAs="String">
    <value>default.wtml</value>
   </setting>
   <setting name="ConstellationArtFilter" serializeAs="String">
    <value>-1,-1,-1</value>
   </setting>
   <setting name="ConstellationFiguresFilter" serializeAs="String">
    <value>-1,-1,-1</value>
   </setting>
   <setting name="ConstellationBoundariesFilter" serializeAs="String">
    <value>-1,-1,-1</value>
   </setting>
   <setting name="ConstellationNamesFilter" serializeAs="String">
    <value>-1,-1,-1</value>
   </setting>
   <setting name="SavedFilters" serializeAs="String">
    <value />
   </setting>
   <setting name="ConstellationArtColor" serializeAs="String">
    <value>64, 255, 255, 255</value>
   </setting>
   <setting name="UnconstrainedTilt" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FaceNorth" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowSlideNumbers" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="KeyPropsLocation" serializeAs="String">
    <value>0, 500</value>
   </setting>
   <setting name="FloatTimeline" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="XboxCustomMapping" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="XboxModeMapping" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowISSModel" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FisheyeAngle" serializeAs="String">
    <value>180</value>
   </setting>
   <setting name="SolarSystemCMB" serializeAs="String">
    <value>False,0,2000</value>
   </setting>
   <setting name="NavigationHold" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MinorPlanetsFilter" serializeAs="String">
    <value>255</value>
   </setting>
   <setting name="PlanetOrbitsFilter" serializeAs="String">
    <value>2147483647</value>
   </setting>
   <setting name="MilkyWayModel" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="GalacticMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Show3dCities" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="RefreshToken" serializeAs="String">
    <value />
   </setting>
   <setting name="RiftMonoMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="RiftStartup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="PerspectiveOffsetX" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="PerspectiveOffsetY" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="OverSampleTerrain" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SwingScaleFront" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="SwingScaleBack" serializeAs="String">
    <value>1</value>
   </setting>
  </TerraViewer.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<TerraViewer.Properties.Settings>
   <setting name="WWTExplorer_fr_u_strasbg_cdsws_SesameService"
    serializeAs="String">
    <value>http://cdsws.u-strasbg.fr/axis/services/Sesame</value>
   </setting>
   <setting name="WWTExplorer_org_worldwidetelescope_www_WWTWebService"
    serializeAs="String">
    <value>http://www.worldwidetelescope.org/webservices/wwtwebservice.asmx</value>
   </setting>
   <setting name="WWTExplorer_edu_stsci_masthla_HSTFootprint" serializeAs="String">
    <value>http://masthla.stsci.edu/hla/footprints/fpws/hstfootprint.asmx</value>
   </setting>
   <setting name="WWTExplorer_edu_stsci_nvo_Registry" serializeAs="String">
    <value>http://nvo.stsci.edu/VORegistry/registry.asmx</value>
   </setting>
   <setting name="MinZoonLimitSolar" serializeAs="String">
    <value>1E-06</value>
   </setting>
   <setting name="MaxZoomLimitSolar" serializeAs="String">
    <value>1E+16</value>
   </setting>
   <setting name="MaxLatLimit" serializeAs="String">
    <value>89.999</value>
   </setting>
   <setting name="CW" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TerrainScaling" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="ScreenHitTestOffsetX" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="ScreenHitTestOffsetY" serializeAs="String">
    <value>0</value>
   </setting>
  </TerraViewer.Properties.Settings>
	</applicationSettings>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true" />
		</settings>
	</system.net>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SharpDX" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.0" newVersion="2.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX.Direct3D11" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.0" newVersion="2.6.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX.DXGI" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.3.0" newVersion="2.6.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
