<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="glTF2Loader" version="1.1.0-alpha" targetFramework="net451" />
  <package id="MicrosoftAccount.WindowsForms" version="1.0.3.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net451" />
  <package id="SharpDX" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.Direct3D11" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.DXGI" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.Toolkit" version="2.6.3" targetFramework="net451" />
  <package id="SharpDX.Toolkit.Graphics" version="2.6.3" targetFramework="net451" />
</packages>